Projet_SOA_VialardBrouchoud/PrintPaymentSystem_Demo/Connected Services/ServicePrintPayment/PrintPaymentService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrintPaymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/PrintPaymentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/PrintPaymentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/PrintPaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrintPaymentService_AddChfByCardId_InputMessage">
    <wsdl:part name="parameters" element="tns:AddChfByCardId" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_AddChfByCardId_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddChfByCardIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_AddChfByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:AddChfByUsername" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_AddChfByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddChfByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_RemoveQuota_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveQuota" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_RemoveQuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveQuotaResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrintPaymentService">
    <wsdl:operation name="AddChfByCardId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintPaymentService/AddChfByCardId" message="tns:IPrintPaymentService_AddChfByCardId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintPaymentService/AddChfByCardIdResponse" message="tns:IPrintPaymentService_AddChfByCardId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddChfByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintPaymentService/AddChfByUsername" message="tns:IPrintPaymentService_AddChfByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintPaymentService/AddChfByUsernameResponse" message="tns:IPrintPaymentService_AddChfByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintPaymentService/CreateUser" message="tns:IPrintPaymentService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintPaymentService/CreateUserResponse" message="tns:IPrintPaymentService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveQuota">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintPaymentService/RemoveQuota" message="tns:IPrintPaymentService_RemoveQuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintPaymentService/RemoveQuotaResponse" message="tns:IPrintPaymentService_RemoveQuota_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrintPaymentService" type="tns:IPrintPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddChfByCardId">
      <soap:operation soapAction="http://tempuri.org/IPrintPaymentService/AddChfByCardId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChfByUsername">
      <soap:operation soapAction="http://tempuri.org/IPrintPaymentService/AddChfByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IPrintPaymentService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveQuota">
      <soap:operation soapAction="http://tempuri.org/IPrintPaymentService/RemoveQuota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrintPaymentService">
    <wsdl:port name="BasicHttpBinding_IPrintPaymentService" binding="tns:BasicHttpBinding_IPrintPaymentService">
      <soap:address location="http://localhost:8080/PrintPaymentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>